# Logs
logs
*.log
npm-debug.log*

# Dependencies
node_modules
.pnp
.pnp.js

# Build
dist
dist-ssr
*.local

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Cloudflare
.wrangler
.dev.vars

# Playwright
test-results/
playwright-report/
blob-report/

# Env
.env
.env.local
.env.*.local

.dev.vars*
!.dev.vars.example
!.env.example
